USE [SEVECLIE]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_clie] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[genero] [nvarchar](20) NULL,
	[fecha_nac] [date] NULL,
	[estado_civil] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_clie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCivil]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCivil](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_clie], [cedula], [nombre], [genero], [fecha_nac], [estado_civil]) VALUES (1, N'12345678', N'Juan Perez', N'M', CAST(N'1990-05-15' AS Date), N'1')
INSERT [dbo].[Clientes] ([id_clie], [cedula], [nombre], [genero], [fecha_nac], [estado_civil]) VALUES (2, N'87654321', N'Maria Garcia', N'F', CAST(N'1985-10-25' AS Date), N'2')
INSERT [dbo].[Clientes] ([id_clie], [cedula], [nombre], [genero], [fecha_nac], [estado_civil]) VALUES (3, N'123_456', N'Empleado de pruebas', N'M', CAST(N'1977-12-24' AS Date), N'2')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCivil] ON 

INSERT [dbo].[EstadoCivil] ([id_estado], [descripcion]) VALUES (1, N'Soltero')
INSERT [dbo].[EstadoCivil] ([id_estado], [descripcion]) VALUES (2, N'Casado')
INSERT [dbo].[EstadoCivil] ([id_estado], [descripcion]) VALUES (3, N'Divorciado')
SET IDENTITY_INSERT [dbo].[EstadoCivil] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__415B7BE5F4F25E37]    Script Date: 22/1/2026 6:18:54 p. m. ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarClientesFiltrado]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsultarClientesFiltrado]
    @Filtro NVARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.id_clie, 
        c.cedula, 
        c.nombre, 
        -- Traducción de Género (Requisito de interfaz)
        CASE WHEN c.genero = 'M' THEN 'Masculino' ELSE 'Femenino' END AS genero,
        c.fecha_nac, 
        -- Traducción de Estado Civil (Requisito de interfaz usando JOIN)
        e.descripcion AS estado_civil 
    FROM Clientes c
    INNER JOIN EstadoCivil e ON c.estado_civil = e.id_estado -- Asegúrate que el campo se llame id_estado en la tabla EstadoCivil
    WHERE c.nombre LIKE '%' + @Filtro + '%' 
       OR c.cedula LIKE '%' + @Filtro + '%'
    ORDER BY c.nombre ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarEstadosCiviles]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarEstadosCiviles]
AS
BEGIN
    SELECT id_estado, descripcion FROM EstadoCivil
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarCliente]
    @id_clie INT
AS
BEGIN
    DELETE FROM Clientes WHERE id_clie = @id_clie
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MantenimientoCliente]    Script Date: 22/1/2026 6:18:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MantenimientoCliente]
    @id_clie INT = 0,
    @cedula NVARCHAR(20),
    @nombre NVARCHAR(100),
    @genero NVARCHAR(20),
    @fecha_nac DATE,
    @estado_civil NVARCHAR(20)
AS
BEGIN
    IF @id_clie = 0
        INSERT INTO Clientes (cedula, nombre, genero, fecha_nac, estado_civil)
        VALUES (@cedula, @nombre, @genero, @fecha_nac, @estado_civil);
    ELSE
        UPDATE Clientes SET 
            cedula=@cedula, nombre=@nombre, genero=@genero, 
            fecha_nac=@fecha_nac, estado_civil=@estado_civil
        WHERE id_clie=@id_clie;
END

GO
